@page "/CartView"

@inject CartService CartService 

<h3>Shopping Cart List</h3>

<ShoppingCartList Items="CartService.SelectedItems"></ShoppingCartList>

@* Code Section *@
@code {
    private int itemCount = 0;
}
