@*Ui Section*@

<h3> Product List</h3>

@foreach(Product item in products)
{
    <ProductView product="item"></ProductView>
}

@*Code Section*@
@code
{

    [EditorRequired]
    [Parameter]
    public List<Product> products { get; set; } = ProductService.Products.ToList();
}